.header {
    margin: 20px auto;
    text-transform: uppercase;
    font-family: sans-serif, Arial;
    font-size: 18px;
}
.completed-tasks-table {
    width: 70vw;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.completed-tasks-table__row {
    width: 50vw;
    height: 10vh;
}
.completed-tasks-table__row-head {
    width: 50vw;
}
.completed-tasks-table_border {
    border: 1px solid #ccc;
    border-right: none;
}
.completed-tasks-table_border-for-delete {
    border: 1px solid #ccc;
}
.completed-tasks-table__titel {
    width: calc(80%/3);
    padding: 5px;
    text-align: center;
}
.completed-tasks-table__buttons {
    width: 10%;
    padding: 5px;
    text-align: center;
}
.button__info-task {
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: none;
    color: forestgreen;
}
.completed-tasks-table__cell {
    width: calc(80%/3);
    text-align: center;
    color: midnightblue;
    font-family: sans-serif, Arial;
    font-size: 20px;
}
.button__back {
    display: block;
    height: 30px;
    width: 15vw;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: sans-serif, Arial;
    font-size: 18px;
    cursor: pointer;
    background-color: #42b7ff;
    border: none;
    color: #fff;
}
.header-2 {
    margin: 12px auto;
    text-transform: uppercase;
    font-family: sans-serif, Arial;
    font-size: 12px;
    font-weight:bold;
}